body, html, main {
    background-color: #222222;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    touch-action: none;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.center {
    text-align: center;
}