body, html, main {
    background-color: #222222;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}

main {
    display: flex;
}

canvas {
    margin: auto;
    display: block !important;
    touch-action: none;
    border: 1px solid white;
    border-radius: 5px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.center {
    text-align: center;
}